.Navbar {
    background-color: transparent;
    width: 80%;
    margin: auto;
}

.Brand {
    color:white;
    font-weight: bold;
    margin:0;
}

.Link {
    color:white;
}

.Img {
    border: 2px solid white;
    border-radius: 8px;
}

.Langue {
    margin-left: 10px;
    margin-bottom: 0;
}

.CreateAccount {
    margin-top: 3px;
    margin-right: 10px;
    margin-bottom: 0;
}

.LinkAccount, .LinkLangue {
    display: flex;
    flex-direction: row;
    color: white;
}

@media(max-width: 1070px) {
    .Navbar {
        width: 85%;
    }
}

@media(max-width: 991px) {
    .Navbar {
        width: 100%;
        background-color: white;
    }
    .Brand {
        color: #00A88F;
    }
    .Link, .LinkAccount, .LinkLangue {
        color: black;
        text-align: center;
    }
    .LinkLangue, .LinkAccount {
        justify-content: center;
    }
    .LinkAccount {
        flex-direction: column;
        justify-content: space-around;
    }
}