/* mainForm */
.mainForm{
    display: flex;
    justify-content: center;
    height: 600px;
    margin-bottom: 2rem;
}
/* END mainForm */

/* form left */

.formLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:550px;
    background-color: white;
    border-radius: 0.9rem;
    margin-right: 20px;
    padding: 30px;
}


/* END form left */

.blockInput {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

.labelInput {
    background-color: rgb(233, 233, 233);
    width: 30%;
    margin: 0;
    padding: 20px;
}
.Input {
    background-color: rgb(233, 233, 233);
    width: 70%;
    border: none;
}

/* container right */

.containerRight{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 470px;
    border-radius:  1rem;
    background-color: white;
}
 /* image  */
.containerRight .pix{
    display: flex;
    margin-left: 30px;
}
 /* text  */

.containerRight .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

    /* partie prix */

.containerRight .price h3 {
    width: 70%;
   font-size: 15px;
   font-weight: bold;
}

.containerRight .price h4 {
    width: 70%;
    font-size: 10px;
    /* font-weight: bold; */
 }

    /* END partie prix */


    /* partie fidelite */

 .containerRight .loyalty{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.containerRight .loyalty h3 {
    width: 70%;
   font-size: 15px;
   font-weight: bold;
}

.containerRight .loyalty h4 {
    width: 70%;
    font-size: 10px;
 }
    /*  END partie fidelite */


    /* partie logo palock */

 .containerRight .padlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.containerRight .padlock h3 {
    width: 70%;
   font-size: 15px;
   font-weight: bold;
}

.containerRight .padlock  h4 {
    width: 70%;
    font-size: 10px;
 }
    /* END partie logo Padlock */

    /* google && apple */

hr{
    margin: auto;
    width: 80%;
}
.leader{
    display: flex;
    justify-content: center;
}
.leader h4{
    font-size: 12px;
}

.app{
    display: flex;
    justify-content: center;
    width: 100%;
}

.app img{
 margin: 0 20px;
}

 /* END google && apple */
/* END container right */

/* liste  */
.blockUl {
    background-color: white;
    height:fit-content;
    width: 400px;
    border-radius: 10px;
}

.Ul {
    list-style: none;
    padding: 0;
}

.Li {
    width: 90%;
    background-color: rgb(233, 233, 233);
    margin: auto;
    padding: 10px;
    color: black;
    margin-top: 10px;
    cursor: pointer;
}

.Li:hover {
    background-color: rgba(128, 128, 128, 0.61);
    color:white;
}
/* END list */

/* list for form && to */

.Ul_F_T {
    display: flex;
    list-style: none;
    padding: 0;
}

.Li_F_T {
    width: 90%;
    background-color: rgb(174, 192, 176);
    margin: auto;
    margin-left: 5px;
    padding: 5px;
    color: black;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 10px;

}

.Li_F_T:hover {
    background-color: rgba(16, 94, 219, 0.61);
    color:white;
}

/* ENd  list for form && to*/

@media(max-width: 991px) {
    .mainForm {
        flex-direction: column;
        justify-content: inherit;
    }

    .formLeft {
        width: 100%;
    }

    .containerRight {
        display: none;
    }

    .Ul,
    .UL_F_T  {
        width: 100%;
    }
    .blockUl{
        width: 100%;
    }
}

