/* background image  */
.home{
    background-image: url(../Picture/home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
/* END background image */


