/* background image  */
.home{
    background-image: url(../Picture/home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 120vh;
    width: 100%;
}

@media(max-width: 991px) {
    .home {
        background-image: inherit;
        background-color: white;
    }
}

